numpy
pandas
load-atoms==0.0.10
notebook
digital-experiments==1.2.8
jupyter
seaborn
ase
matplotlib
torch
pytorch-lightning 
rich
scikit-learn
pytest
pytest-cov
scipy
sympy
wigners
black
umap
locache==3.0
quippy-ase
optuna